@CHARSET UTF-8;

.container2 {
	max-width: 1240px;
	margin: 30px auto;
}

/* Estilizando o cabeçalho */
header {
	transition: all 0.6s ease;
}

.container-fluid {
	margin: 0px -15px;
	border: none;
}

#conteudoCabecalho {
	height: inherit;
}

#titulo {
	margin-top: 10px;
	font-size: 22px;
	line-height: 15px;
	color: white;
}

.navbar-default {
	height: 120px;
	background-color: inherit;
	border: none;
}

#myNavbar{
	position: relative;
	height: inherit;
}

#myNavbar > ul {
	position: absolute;
	bottom: 30%;
	right: 0px;
}

#myNavbar > ul li a {
	font-size: 15px;
	margin-right: -10px; 
	color: white;
	font-weight: bolder;
}

.changeBackground {
	background-color: rgba(255,255,255,1);
}

/* Estilizando o carousel */
.slideshow {
	position: relative;
}

#imgCar1 {
	background-image: url(../img/slideshow/rio3.jpg);
	width: 100%;
	height: 800px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#imgCar2 {
	background-image: url(../img/slideshow/rio6.jpg);
	width: 100%;
	height: 800px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.item .img-static > div {
	position: absolute;
	top: 35%;
	color: white;
}

.left, .right {
	background: none !important;
}

#carousel a span.glyphicon {
	font-size: 40px;
	transition: all 0.2s linear;
}

#carousel a.carousel-control:hover span.glyphicon {
	transform: scale(1.3);
}

/* Estilizando a seção Informativos */
#informativos {
	height: 370px;
}
.tit {
	position: relative;
	top: 25px;
}

.tit div {
	display: block;
	border-bottom: 3px solid rgb(94, 152, 200);
}

#info1 h1, #info2 h1, #info3 h1 {
	text-transform: uppercase;
	font-size: 18px;
	padding-top: 20px;
	font-weight: bolder;
}

#info1 p, #info2 p, #info3 p {
	width: 80%;
	padding-top: 20px;
	text-align: justify;
	font-size: 17px;
	word-break: break-all;
	word-wrap: break-word;
}

.background-div {
	height: inherit;
	width: inherit;
	overflow: hidden;
}

/* Estilizando a seção Pousada */
section.pousada {
	height: 600px;
	position: static;
	background-color: #34495e;
	color: white;
}

.conteudo-pousada {
	
}

.linhaVerde {
	margin-top: -5px;
	border-bottom: 3px solid rgb(62, 194, 75);
	max-width: 100px;
}

.reservar {
	height: 80px;
	background-color: white;
	border-radius: 10px;
	margin-top: 5px;
	color: black;
}

.inputs {
	padding: 0px 5px;
	padding-right: 5px;
	position: relative;
	margin-right: 5px;
	top: 10px;
	height: 60px;
	border-right: 1px solid #C3C3C3;
}

.reservar input {
	margin-left: -7px;
	margin-top: 15px;
}

.reservar input[type="number"] {
	width: 100%;
	margin-top: 0px;
	margin-left: 0px;
}

.button-reservar {
	height: 60px;
	width: 6%;
	position: absolute;
	right: 0.2%;
	top: 15%;
}

.button-reservar span {
	font-size: 2em;
	position: relative;
	top: 10px;
	left: 5px;
	color: white;
	background-color: #34495e;
	padding: 10px;
	border-radius: 50%;
}

.text-pousada {
	font-size: 18px;
	position: relative;
	top: 60px;
}

/* Estilizando a seção Atividades */
.atividades {
	height: 700px;
}

.jumbotron {
	color: white;
	background-color: #34495e; 
	height: 50px;
	margin: 0px;
}

.jumbotron h2 {
	text-transform: uppercase;
	margin-top: -1.2%;
}

.sobreBarra {
	background-color: #34495e;
	color: black;
	margin: -10px -15px 0px -15px;
	height: inherit;
}

.sobreBarra p {
	font-size: 18px;
	text-indent: 30px;
}

span.shadow {
	height: 558px;
	display: block;
	background-color: black;
	opacity: 0.4;
}

.sobreBarra ul li a {
	background-color: snow;
}

.tab-content {
	position: relative;
	color: white;
}

#p1 img {
	position: absolute;
	top: 4%;
	left: 23%;
}

#p2 img {
	position: absolute;
	top: 4%;
	left: 23%;
}

#p3 img {
	position: absolute;
	top: 4%;
	left: 20%;
}

#tit-praia {
	position: absolute;
	top: 10%;
	right: 11%;
}

#text-praia {
	position: absolute;
	top: 25%;
	right: 5%;
	max-width: 350px;
	text-align: justify;
}

#text-praia2 {
	position: absolute;
	top: 10%;
	left: 5%;
	max-width: 350px;
	text-align: justify;
}

/* Estilizando seção Parallax */
.parallax {
	height: 120px;
	background-image: url(../img/abc2.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

/* Estilizando a seção Quartos */
.quartos {
	height: 800px;
	background-color: #34495e;
	color: white;
}

.quartos h1 {
	text-transform: uppercase;
	padding-top: 30px;
}

.descri1 {
	margin-top: 260px;
}

.descri1 > h1 {
	color: black;
	font-size: 25px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.descri1 > h2 {
	color: black;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 20px;
}

.descri1 > h4 {
	color: black;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(6, 99, 150);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-top: 40px;
}

button:hover, a:hover {
    opacity: 0.7;
}

.descri2 {
	margin-top: 260px;
}

.descri2 > h1 {
	color: black;
	font-size: 25px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.descri2 > h2 {
	color: black;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 20px;
}

.descri2 > h4 {
	color: black;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

#q1, #q2 {
	position: relative;
	top: 40px;
	background-color: white;
	box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2);
	margin: 10px;
	height: 560px;
	width: 34%;
}

#q1 {
	background-image: url(../img/quartos/quarto3.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100%;
	position: relative;
	right: 50px;
}

#q2 {
	background-image: url(../img/quartos/quarto2.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100%;
}

/* Estilizando a seção eventos */
#eventos {
	height: 650px;
}

#tit-eventos {
	padding: 30px 20px 12px 20px;
	font-size: 35px;
	font-family: 'Open Sans', sans-serif;
}

div#linha4 {
	position: relative;
	width: 100px;
	margin: -10px auto;
	margin-bottom: 40px;
	border-bottom: 5px solid rgb(94, 152, 200);
}

div#container-imgs {
	margin: 0px auto;
	height: 400px;
}

h3.descri01 {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

h4.descri02 {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	position: relative;
	top: -10px;
}

#eventos > #row div {
	padding: 0px;
}

/* Estilizando a seção Depoimentos */
.depoimentos {
	position: relative;
	height: 600px;
	background-color: #fff;
}

.tit-rest {
	margin-top: 50px;
	margin-bottom: 30px;
	color: black;
}

.depoimentos-conteudo {
	padding-top: 80px;
}

.text-dep {
	padding: 20px;
	border: 1px solid #333;
	text-indent: 20px;
	text-align: justify;
	word-wrap: all;
}

#dep1 {
	border-radius: 50%;
	margin-left: 10px;
	box-shadow: 0 0 1px 1px rgb(62, 194, 75);
}

#dep2 {
	border-radius: 50%;
	margin-left: 10px;
	box-shadow: 0 0 1px 1px rgb(62, 194, 75);
}

.depoimentos-conteudo figure {
	margin-top: 20px;
}

.depoimentos-conteudo figure figcaption {
	display: inline-block;
	padding: 20px;
}

.depoimentos-conteudo figure figcaption span {
	font-weight: bolder;
	font-size: 15px;
}

/* Eestilizando a seção Localização */
.localizacao {
	padding-top: 90px;
}

#map {
	height: 100%;
}

.localizacao > h1 {
	padding-bottom: 10px;
}

.icon-local {
	font-size: 15px; 
	color: rgb(62, 194, 75);
}

.locality {
	color: #34495e;
}

.table {
	margin-top: -20px;
}

.table tbody tr .title-td {
	text-align: left;
	text-indent: 30px;
}

.tit-local {
	margin-bottom: 30px;
}

/* Estilizando a seção reservar */
#reservar {
	height: 250px;
	width: 100%;
	background-color: #34495e;
	position: relative;
}

#reservar h2 {
	color: white;
	position: relative;
	top: 100px;
	right: 190px;
	font-size: 20px;
	text-transform: uppercase;
}

#reservar h6 {
	display: inline-block;
	color: rgb(62, 194, 75);
	position: absolute;
	top: 30%;
	right: 36%;
	padding: 15px 25px;
	font-size: 20px;
	border-radius: 5px;
	border: 2px solid rgb(62, 194, 75);
}

#reservar h6 a {
	text-decoration: none;
}

#btn-reservar {
	
}

/*   O Footer */

footer{
	width: 100%;
	height: 250px;
	background: #2d2d2d;
	text-align: center;
	line-height: center;
	color: #fff;
	display: inline-block;
}

footer .lado1{
	float: left;
	width: 18%;
	
	display: inline-block;
	text-align: center;
}

footer .lado2{
	width: 50%;
	margin-left: 100px;
	display: inline-block;
	padding-bottom:  20px;
}

footer .lado3{
	float: right;
	width: 18%;
	display: inline-block;
}

footer .contatos-footer{
	width: 85%;
	font-size: 30px;
	line-height: 10px;
	padding-top: 50px;
}

footer .rua{
	width: 85%;
	font-size: 15px;
	line-height: 10px;
	padding-top: 10px;
}


footer .rede-social{
	width: 85%;
	padding-top: 10px;
}

footer .rede-social i{
	padding: 5px 15px;
	margin: 2px 5px;
	color: #fff;
	font-size: 20px;
	border: 1px solid #fff;
	transition: 0.2s ease;
}

footer .rede-social i:hover{
	font-size: 25px;
	color: green;
	border: 1px solid green;
}

footer .menu{
	display: block;
	
	float: right;
	height: 200px;
	padding: auto;

}

footer .menu .menu-footer ul{
	list-style: none;
	float: left;
	padding-top: 60px;
	padding-right: 100px;
}

footer .menu .menu-footer a{
	font-size: 15px;
	text-decoration: none;
	transition: 1s ease;
	padding: 8px;
}

footer .menu .menu-footer a:hover{
	font-size: 16px;
	color: green;
}

footer .logo-footer{
	padding-top: 30px;
}

footer .logo-footer a{
	font-size: 20px;
	text-decoration: none;
	color: #fff;
}


.auge{
	width: 100%;
	height: 70px;
	background: #2d2d2d;
	margin-top: 55px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	border-top: 2px solid #444;

}

.auge .direitos p{
	color: #fff;
	display: block;
	padding-bottom: 0px;
	font-size: 15px;
	
}